/*screens sizes*/
$small: 600px;
/*CSS reset*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*grid*/
.grid-container {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;

  .row {
    &:before {
      content: " ";
      display: table;
      clear: both;
    }

    &:after {
      content: " ";
      display: table;
      clear: both;
      // margin-bottom: 20px;
    }
  }
}
$numberOfCols: 12;
$singleColWidth: 100%/$numberOfCols;
@for $i from 1 through $numberOfCols {
  .col-#{$i} {
    width: $singleColWidth*$i;
    float: left;
    min-height: 1px;
    // padding: 12px; //gutter
  }
}
// @media only screen and (max-width: $small) {
//   /* For mobile phones: */
//   [class*="col-"] {
//     width: 100%;
//   }
// }
/*body*/
body {
  font-family: 'Lato', sans-serif;
}
/*section main*/
#main {
  background-image: url("../images/foto_main.jpg");
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
  width: 100%;
  position: relative;
  text-align: center;
  top: 0;
  left: 0;

  h1 {
    font-size: 90px;
    font-weight: 900;
    letter-spacing: 1px;
    color: #fff;
  }

  h3 {
    font-size: 30px;
    font-weight: 400;
    color: #fff;
  }

  .main-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    button {
      text-transform: lowercase;
      color: #fff;
      background-color: transparent;
      border: 3px solid #ff1e00;
      width: 240px;
      height: 60px;
      font-size: 24px;
      letter-spacing: 1px;
      cursor: pointer;
      margin-top: 50px;
      transition: all 0.7s ease 0s;
    }

    button:hover {
      background-color: #ff1e00;
    }
  }
}
@media only screen and (max-width: $small) {
  #main {
    background-image: url("../images/foto_main.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center;
    height: 100vh;
    max-width: 100%;
    position: relative;
    text-align: center;
    top: 0;
    left: 0;

    h1 {
      font-size: 60px;
      font-weight: 900;
      letter-spacing: 1px;
      color: #fff;
    }

    h3 {
      font-size: 21px;
      font-weight: 400;
      color: #fff;
    }

    .main-content {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      button {
        text-transform: lowercase;
        color: #fff;
        background-color: transparent;
        border: 3px solid #ff1e00;
        width: 240px;
        height: 60px;
        font-size: 24px;
        letter-spacing: 1px;
        cursor: pointer;
        transition: all 0.7s ease 0s;
      }

      button:hover {
        background-color: #ff1e00;
      }
    }
  }
}
/*header style*/
header {
  .burger-menu {
    position: fixed;
    top: 15px;
    left: 15px;
    z-index: 9999;
  }

  .container {
    display: inline-block;
    cursor: pointer;
  }

  .bar1,
  .bar2,
  .bar3 {
    width: 40px;
    height: 3px;
    background-color: #fff;
    margin: 10px 0;
    transition: 0.4s;
  }

  .change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 9px);
    transform: rotate(-45deg) translate(-9px, 9px);
  }

  .change .bar2 {
    opacity: 0;
  }

  .change .bar3 {
    -webkit-transform: rotate(45deg) translate(-9px, -9px);
    transform: rotate(45deg) translate(-9px, -9px);
  }
}
/*opacity nav*/
.opacity-nav {
  display: none;
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  background-color: #022d9a;
  z-index: 9999;

  .menu-fullscreen {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 30px;
    text-transform: uppercase;
    color: #fff;
    font-weight: 900;
    list-style: none;

    li {
      padding: 10px 0;
      letter-spacing: 1px;
    }

    a {
      text-decoration: none;
      color: #fff;
      transition: all 0.7s ease 0s;
    }

    a:hover {
      color: #ff1e00;
    }
  }
}
/*section about*/
#about {
  height: 100vh;
}

.my-photo {
  background-image: url("../images/bio_foto.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 720px;
  width: 100%;
  margin: 0 auto;
}

.content-container {
  position: relative;
  z-index: 0;
  top: 85px;
  right: 120px;

  .about-content {
    border: 3px solid #022d9a;
    height: 550px;
    width: 720px;
    position: relative;
    background-color: #fff;
    text-align: left;
    padding: 80px 120px;
    letter-spacing: 1px;

    p {
      font-size: 18px;
    }

    .about-content-behind {
      border: 3px solid #022d9a;
      height: 550px;
      width: 720px;
      position: absolute;
      background-color: #fff;
      top: 20px;
      left: 20px;
      z-index: -1;
    }
  }
}
@media only screen and (max-width: $small) {
  #about {
    [class*="col-"] {
      width: 100%;
      margin-bottom: 60px;
    }

    .col-6 .my-photo {
      background-image: url("../images/bio_foto.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      height: 100vh;
      width: 100%;
      margin-bottom: 30px;
    }

    .content-container {
      position: relative;
      max-width: 95%;
      margin: auto;
      top: 0;
      left: 0;
    }

    .about-content {
      border: 3px solid #022d9a;
      height: auto;
      max-width: 100%;
      position: relative;
      background-color: #fff;
      text-align: left;
      padding: 30px;
      letter-spacing: 1px;

      p {
        font-size: 16px;
      }

      .about-content-behind {
        border: 3px solid #022d9a;
        height: 100%;
        max-width: 100%;
        position: absolute;
        background-color: #fff;
        top: 10px;
        left: 10px;
        z-index: -1;
      }
    }
  }
}
@media only screen and (min-width: 601px) and (max-width: 992px) {
  #about {
    [class*="col-"] {
      width: 100%;
      margin-bottom: 60px;
    }

    .col-6 .my-photo {
      background-image: url("../images/bio_foto.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      height: 100vh;
      max-width: 600px;
      margin-bottom: 30px;
    }

    .content-container {
      width: 97%;
      margin: 0 auto;
      top: 0;
      left: 0;
    }

    .about-content {
      border: 3px solid #022d9a;
      height: auto;
      max-width: 100%;
      background-color: #fff;
      text-align: left;
      padding: 30px;
      letter-spacing: 1px;
      margin: 0 auto;

      p {
        font-size: 16px;
      }

      .about-content-behind {
        border: 3px solid #022d9a;
        height: 100%;
        max-width: 100%;
        background-color: #fff;
        top: 10px;
        left: 10px;
        z-index: -1;
      }
    }
  }
}

@media only screen and (min-width: 993px) and (max-width: 1200px) {
  #about {
    height: 100vh;
  }

  // .my-photo {
  //   background-image: url("../images/bio_foto.jpg");
  //   background-repeat: no-repeat;
  //   background-size: cover;
  //   height: 720px;
  //   width: 100%;
  //   margin: 0 auto;
  // }

  .content-container {
    position: relative;
    z-index: 0;
    top: 85px;
    right: 120px;

    .about-content {
      border: 3px solid #022d9a;
      height: 550px;
      max-width: 600px;
      position: relative;
      background-color: #fff;
      text-align: left;
      padding: 55px 65px;
      letter-spacing: 1px;

      p {
        font-size: 18px;
      }

      .about-content-behind {
        border: 3px solid #022d9a;
        height: 550px;
        max-width: 600px;
        position: absolute;
        background-color: #fff;
        top: 15px;
        left: 15px;
        z-index: -1;
      }
    }
  }
}





/*my services style*/
#services {
  height: 100vh;
}

.wrapper {
  position: relative;
  margin-top: 0;
  margin-bottom: 60px;

  p {
    text-transform: uppercase;
    font-size: 30px;
    text-align: center;
    margin-top: 75%;

    span {
      text-transform: lowercase;
    }
  }

  .front-box {
    border: 3px solid #ff1e00;
    width: 240px;
    height: 320px;
    position: relative;
    background-color: #fff;
  }

  .back-box {
    border: 3px solid #ff1e00;
    width: 240px;
    height: 320px;
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: -1;
    background-color: #fff;
  }

  .icon-box {
    width: 85px;
    height: 85px;
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translateX(-50%);
  }
}

.wrapper {
  position: relative;

  .front-box:hover {
    border: 3px solid #ff1e00;
    width: 240px;
    height: 320px;
    position: relative;
    background-color: #ff1e00;
    top: 20px;
    left: 20px;

    p {
      color: #fff;
    }

    .html {
      background-image: url("../images/icons/icon_01b.svg");
      background-repeat: no-repeat;
      background-size: contain;
    }

    .css3 {
      background-image: url("../images/icons/icon_02b.svg");
      background-repeat: no-repeat;
      background-size: contain;
    }

    .js {
      background-image: url("../images/icons/icon_03b.svg");
      background-repeat: no-repeat;
      background-size: contain;
    }

    .jquery {
      background-image: url("../images/icons/icon_04b.svg");
      background-repeat: no-repeat;
      background-size: contain;
    }

    .react {
      background-image: url("../images/icons/icon_05b.svg");
      background-repeat: no-repeat;
      background-size: contain;
    }

    .git {
      background-image: url("../images/icons/icon_06b.svg");
      background-repeat: no-repeat;
      background-size: contain;
    }

    .sass {
      background-image: url("../images/icons/icon_07b.svg");
      background-repeat: no-repeat;
      background-size: contain;
    }

    .rwd {
      background-image: url("../images/icons/icon_08b.svg");
      background-repeat: no-repeat;
      background-size: contain;
    }
  }
}

.html {
  background-image: url("../images/icons/icon_01a.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

.css3 {
  background-image: url("../images/icons/icon_02a.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

.js {
  background-image: url("../images/icons/icon_03a.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

.jquery {
  background-image: url("../images/icons/icon_04a.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

.react {
  background-image: url("../images/icons/icon_05a.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

.git {
  background-image: url("../images/icons/icon_06a.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

.sass {
  background-image: url("../images/icons/icon_07a.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

.rwd {
  background-image: url("../images/icons/icon_08a.svg");
  background-repeat: no-repeat;
  background-size: contain;
}
@media only screen and (max-width: $small) {
  #services {
    [class*="col-"] {
      width: 50%;
      margin-bottom: 60px;
    }

    .container {
      max-width: 100%;
      height: auto;
      margin: auto;
      text-align: center;
    }

    .wrapper {
      width: 120px;
      margin: auto;
      position: relative;
      z-index: 1;

      p {
        text-transform: uppercase;
        font-size: 18px;
        text-align: center;
        margin-top: 85%;

        span {
          text-transform: lowercase;
        }
      }

      .front-box {
        width: 120px;
        height: 160px;
        border: 3px solid #ff1e00;
        position: relative;
        background-color: #fff;
        margin: auto;
      }

      .icon-box {
        width: 55px;
        position: absolute;
        top: 15%;
        left: 50%;
        transform: translateX(-50%);
      }

      .back-box {
        width: 120px;
        height: 160px;
        border: 3px solid #ff1e00;
        background-color: #fff;
        position: absolute;
        z-index: -1;
        margin: auto;
        top: 10px;
        left: 10px;
      }

      .html {
        background-size: contain;
      }

      .css3 {
        background-size: contain;
      }

      .js {
        background-size: contain;
      }

      .jquery {
        background-size: contain;
      }

      .react {
        background-size: contain;
      }

      .git {
        background-size: contain;
      }

      .sass {
        background-size: contain;
      }

      .rwd {
        background-size: contain;
      }
    }

    .wrapper {
      position: relative;
      max-width: 100%;

      .front-box:hover {
        border: 3px solid #ff1e00;
        max-width: 120px;
        height: 160px;
        position: relative;
        background-color: #ff1e00;
        top: 10px;
        left: 10px;
        margin: auto;
      }
    }
  }
}
@media only screen and (min-width: 601px) and (max-width: 992px) {
  #services {
    [class*="col-"] {
      width: 50%;
      margin-bottom: 60px;
    }

    .container {
      max-width: 100%;
      height: auto;
      margin: auto;
      text-align: center;
    }

    .wrapper {
      width: 240px;
      margin: auto;
      position: relative;
      z-index: 1;

      p {
        text-transform: uppercase;
        font-size: 30px;
        text-align: center;
        margin-top: 85%;

        span {
          text-transform: lowercase;
        }
      }

      .front-box {
        width: 240px;
        height: 320px;
        border: 3px solid #ff1e00;
        position: relative;
        background-color: #fff;
        margin: auto;
      }

      .icon-box {
        width: 85px;
        height: 85px;
        position: absolute;
        top: 15%;
        left: 50%;
        transform: translateX(-50%);
      }

      .back-box {
        width: 240px;
        height: 320px;
        border: 3px solid #ff1e00;
        background-color: #fff;
        position: absolute;
        z-index: -1;
        margin: auto;
        top: 10px;
        left: 10px;
      }

      .html {
        background-size: contain;
      }

      .css3 {
        background-size: contain;
      }

      .js {
        background-size: contain;
      }

      .jquery {
        background-size: contain;
      }

      .react {
        background-size: contain;
      }

      .git {
        background-size: contain;
      }

      .sass {
        background-size: contain;
      }

      .rwd {
        background-size: contain;
      }
    }

    .wrapper {
      position: relative;
      max-width: 100%;

      .front-box:hover {
        border: 3px solid #ff1e00;
        max-width: 240px;
        height: 320px;
        position: relative;
        background-color: #ff1e00;
        top: 10px;
        left: 10px;
        margin: auto;
      }
    }

  }
}

/*section mountains*/
#mountains {
  background-image: url("../images/mountains.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 480px;
  width: 100%;
  margin-top: 60px;
}
@media only screen and (max-width: $small) {
  #mountains {
    background-image: url("../images/mountains.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center;
    height: 480px;
    width: 100%;
  }
}
/*contact*/
#contact {
  height: 100vh;
}

.contact-form {
  font-size: 18px;
  position: relative;
  margin-bottom: 120px;
}

input[type=email],
input[type=text] {
  width: 100%;
  height: 60px;
  resize: none;
  border: 3px solid #000;
  font-size: 24px;
  padding: 10px;
}

label {
  display: block;
  padding-top: 20px;
  padding-bottom: 10px;
}

textarea {
  width: 100%;
  border: 3px solid #000;
  resize: none;
  font-size: 24px;
  padding: 10px;
}

.empty {
  min-height: 1px;
}

button {
  text-transform: lowercase;
  color: #ff1e00;
  background-color: transparent;
  border: 3px solid #ff1e00;
  width: 240px;
  height: 60px;
  font-size: 24px;
  letter-spacing: 1px;
  cursor: pointer;
  transition: all 0.7s ease 0s;
}

button:hover {
  background-color: #ff1e00;
  color: #fff;
}

.button {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 60px;
}
@media only screen and (max-width: $small) {
  #contact {
    [class*="col-"] {
      width: 100%;
      margin-bottom: 60px;
    }

    .contact-form {
      font-size: 16px;
      position: relative;
      margin-bottom: 60px;
      margin-left: 15px;
      margin-right: 15px;
    }

    input[type=email],
    input[type=text] {
      width: 100%;
      height: 60px;
      resize: none;
      border: 3px solid #000;
      font-size: 21px;
      padding: 10px;
    }

    label {
      display: block;
      padding-top: 20px;
      padding-bottom: 10px;
    }

    textarea {
      width: 100%;
      border: 3px solid #000;
      resize: none;
      font-size: 21px;
      padding: 10px;
    }
  }
}
/*footer*/
#footer-section {
  background-color: #022d9a;
  height: 240px;
  position: relative;
  margin-top: 120px;
}

.social-icons {
  position: absolute;
  text-align: center;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -30%);

  .linkedin {
    background-image: url("../images/social/icon_linkedIn.svg");
    background-repeat: no-repeat;
    display: inline-block;
    background-size: cover;
    background-position: center;
    height: 50px;
    width: 50px;
    margin-right: 10px;
  }

  .github {
    background-image: url("../images/social/icon_github.svg");
    background-repeat: no-repeat;
    display: inline-block;
    background-size: cover;
    background-position: center;
    height: 50px;
    width: 50px;
    margin-left: 10px;
  }
}

.footer-content {
  font-size: 16px;
  color: #fff;
  text-align: center;
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -75%);

  p {
    margin: 5px;
  }
}
@media only screen and (max-width: $small) {
  .footer-content {
    font-size: 16px;
    color: #fff;
    text-align: center;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translateX(-50%, -20%);
  }
}
/*extra styles*/
.extra-width {
  width: 1200px;
  margin: 0 auto;

  .title {
    font-size: 30px;
    margin-top: 120px;
    margin-bottom: 60px;
    letter-spacing: 1px;
    text-transform: uppercase;
  }
}
@media only screen and (max-width: $small) {
  .extra-width {
    width: 100%;
    margin: 0 auto;

    .title {
      font-size: 24px;
      margin-top: 60px;
      margin-bottom: 30px;
      text-align: center;
      letter-spacing: 1px;
      text-transform: uppercase;
    }
  }
};
@media only screen and (min-width: 601px) and (max-width: 992px) {
  .extra-width {
    width: 100%;
    margin: 0 auto;

    .title {
      font-size: 24px;
      margin-top: 60px;
      margin-bottom: 30px;
      text-align: center;
      letter-spacing: 1px;
      text-transform: uppercase;
    }
  }
};

@media only screen and (min-width: 993px) and (max-width: 1200px) {
  .extra-width {
    width: 100%;
    margin: 0 auto;

    .title {
      font-size: 24px;
      margin-top: 60px;
      margin-bottom: 30px;
      text-align: left;
      letter-spacing: 1px;
      text-transform: uppercase;
    }
  }
};
