/*CSS reset*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*grid*/
.grid-container {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;

  .row {
    &:before {
      content: " ";
      display: table;
      clear: both;
    }

    &:after {
      content: " ";
      display: table;
      clear: both;
      margin-bottom: 20px;
    }
  }
}
$colors: #b29478, #ff8892, #8d7699, #555333, #002211, #ff0022, #cc8712, #651200, #987631, #cc00ff, #112233, #223344;
$numberOfCols: 12;
$singleColWidth: 100%/$numberOfCols;
@for $i from 1 through $numberOfCols {
  .col-#{$i} {
    width: $singleColWidth*$i;
    float: left;
    min-height: 1px;
    // border-right: 1px dotted red;
    // padding: 12px; //gutter
    // background-color: nth($colors,$i);
  }
}
/*body*/
body {
  font-family: 'Lato', sans-serif;
}
/*header style*/
header {
  background-color: #fff;
  // border-bottom: 1px solid #000;
  max-height: 70px;
}

header .col-6 {
  min-height: 70px;
  line-height: 70px;
  position: relative;
}
/*logo*/
#logo {
  background-image: url("../images/logo.png");
  background-repeat: no-repeat;
  height: 52px;
  margin-top: 13px;
  margin-left: 25px;
}
/*menu*/
#menu ul {
  list-style-type: none;
  margin-right: 25px;
  float: right;
}

#menu li {
  display: inline-block;
  padding-left: 15px;
  padding-right: 15px;
  text-transform: uppercase;
  transition: all 0.9s ease 0s;
}

#menu li:hover {
  background-color: #0A3EE9;
  cursor: pointer;
  a {
    color: #fff;
  }
}

#menu {
  a {
    color: #0A3EE9;
    text-decoration: none;
  }
}
/*section main*/
#main {
  background-image: url("../images/foto_main.jpg");
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  text-align: center;
  h1 {
    font-size: 60px;
    font-weight: 700;
    letter-spacing: 1px;
    color: #fff;
    margin-top: 20%;
  }
  button {
    text-transform: uppercase;
    color: #fff;
    background-color: transparent;
    border: 2px solid #FF1E00;
    width: 160px;
    height: 50px;
    font-size: 14px;
    letter-spacing: 1px;
    cursor: pointer;
    margin-top: 50px;
    transition: all 0.7s ease 0s;
  }
  button:hover {
    background-color: #FF1E00;

  }
}
